<!DOCTYPE html>

<html>
	<head>
		<link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/style.css') }}"/>
	</head>

    <body>
		<h1>
			The Trentoniana Room
		</h1>
    </body>

	<div class="topnav">
		<a href="/" class="active">Home</a>
		<a href="/about">About Us</a>
		<a href="/search">Search</a>
		<a href="/login">Login</a>
		<a href="/map">Map</a>
		<a href="https://trentonlib.org/trentoniana/">Trentoniana Homepage</a>
		<a href="https://trentonlib.org/trentoniana/photographs/">Photographs</a>
		<a href="https://trentonlib.org/trentoniana/audio-visual/">Audio & Visual</a>
	</div>

    <p>
        As the initial Trentoniana archive has audio and 
        transcript files saved in one directory, our goal is 
        to create a simple user-friendly interface that
        allows a more organized view of these saved files.
        The audio and transcript files are accessible to the 
        user by searching or sorting from a drop down. It is 
        important for us to allow the user to view these
        recordings that provide rich history of the local area 
        wiith easy access and quick performance from the system.
        Our web application also allows those with more access to
        have the ability to insert and delete files. 
    </p>

	<button onclick="goBack()">Back</button>
	<script>
		function goBack() {
			window.history.back();
		}	
	</script>

</html>
