<!DOCTYPE html>

<html>
	<head>
		<link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/style.css') }}"/>
	</head>

    <body>
		<h1>
			The Trentoniana Room
		</h1>
    </body>

	<div class="topnav">
		<a href="/">Home</a>
		<a href="/about"  class="active">About Us</a>
		<a href="/search">Search</a>
		<a href="/login">Login</a>
		<a href="/map">Map</a>
	</div>

	<h1>
		Our Team
	</h1>

    <h4>
        As the initial Trentoniana archive has audio and 
        transcript files saved in one directory, our goal was 
        to create a simple user-friendly interface that
        allows a more organized view of these saved files.
		This module will help the recordings achieve their full 
		educational potential by providing a more accessible way to view them.
		<br><br><br>
        The audio and transcript files are accessible to the 
        user by searching or sorting from a drop down. It is 
        important for us to allow the user to view these
        recordings that provide rich history of the local area 
        wiith easy access and quick performance from the system.
        Our web application also allows those with more access to
        have the ability to insert and delete files. 
		<br><br><br>
		Our team has learned how to set up a database by manipulating data: how to upload 
		the data, add attributes and form relationships, store and make it available for access,
		back up, and how to protect it. We used resources from class as well as online resources to 
		master these concepts to build our application. We worked as a team to ensure we all 
		understood the tools we used to build this database and its UI.
	</h4>

	<button onclick="goBack()">Back</button>
	<script>
		function goBack() {
			window.history.back();
		}	
	</script>

</html>
