<html>
    <head>
        <title>
            Insertion
        </title>
    </head>
    <body style="background-color:cornsilk;">
	<h3 style="color:black;text-align:center;font-family=verdana;">
	    Deletion Successful! 
	</h3>
    <!-- Insertion shown -->
        <p>
            You have deleted: <br>
            
            
        </p>
    <br><br>

    <!-- Return to home page-->
    <h5>Return to Home</h5>
    <button onclick="goBack()">Home</button>
    <script>
        function goBack() {
            window.history.back();
        }
    </script>
    </body>
</html>
