<!DOCTYPE html>

<html>
	<head>
		<link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/style.css') }}"/>
	</head>

    <body>
		<h1>
			The Trentoniana Room
		</h1>
    </body>

	<div class="topnav">
		<a href="/">Home</a>
		<a href="/about">About Us</a>
		<a href="/search">Search</a>
		<a href="/login">Login</a>
		<a href="/map">Map</a>
		<a href="https://trentonlib.org/trentoniana/">Trentoniana Homepage</a>
	</div>

    <form action="/search-result" method="POST">
        <div>
        <h3>Search Trentoniana Database</h3>

        <!-- SORT DROPDOWN -->

        Sort by
        <br>
        <select name="sort">
            <option value="(SELECT NULL)">None</option>
            <option value="ENTRY.entry_name">Title</option>
            <option value="CATEGORY.c_name">Category</option>
            <option value="AUDIOFILE.audio_filename">Audio File</option>
            <option value="PARTICIPANT.fullname">Participant</option>
            <option value="TRANSCRIPTFILE.transcript_filename">Transcript File</option>
            <option value="TRANSCRIBER.fullname">Transcriber</option>
        </select>
        <input type="checkbox" name="reverse"/>Reversed
        
        <!-- Search Box -->
        <br><br>
        Search for
        <br>
        <input type ="text" name="search" placeholder="Search..."/>
        <input type="submit" name="submit_search" value="🔍︎">
        <br><br>
        </div>
    </form>


    <!-- Insert -->
    <h3>Add an Entry</h3>
    <form method="POST" action="/insert-entry">
        <input type ="text" name="insert" placeholder="Add"/><br>
        <input type="submit" name="submit_add"><br><br>
    </form>

    <!--Delete -->
    <h3>Delete an Entry</h3>
    <form method="POST" action="/delete-result">
        <input type ="text" name="delete" placeholder="Delete"/><br>
        <input type="submit" name="submit_delete" value="Submit to Delete"><br><br>
    </form>

    <!-- Update -->
   <!-- Update -->
    <h3>Update an Entry</h3>
    <form method="POST" action="/update-result">
        <h4>Select the table you would like to update.</h4>
        <select name="table_select">
            <option value="ENTRY">Entry</option>
            <option value="AUDIOFILE">Audio File</option>
            <option value="AUDIO">Audio</option>
            <option value="TRANSCRIPTFILE">Transcript File</option>
            <option value="TRANSCRIPT">Transcript</option>
            <option value="PARTICIPANT">Participant</option>
            <option value="CATEGORY">Category</option>
            <option value="TRANSCRIBER">Transcriber</option>
        </select>
        <h4>Select the attribute you would like to change.</h4>
        <select name="attribute_select">
            <option value="entry_name">Entry Filename</option>
            <option value="audio_filename">Audio Filename</option>
            <option value="date_of_recording">Date of Recording</option>
            <option value="transcript_filename">Transcript Filename</option>
            <option value="date_of_transcription">Date of Transcription</option>
            <option value="fullname">Participant Name</option>
            <option value="c_name">Entry Categories</option>
            <option value="fullname">Transcriber Name</option>
        </select>
        <h4>Input the ID of the entry you would like to update</h4>
        <input type="text" name="entry_id" placeholder="Entry ID"/><br>
        <h4>Input the value of the entry you would like to update.</h4>
        <input type="text" name="table_value" placeholder="Table Value"/><br>
        <h4>Include the new value for the entry.</h4>
        <input type="text" name="new_value" placeholder="New Value"><br>
        <input type="submit" name="submit_update" value="Submit to Update"><br><br>
    </form>

	<button onclick="goBack()">Back</button>
	<script>
		function goBack() {
			window.history.back();
		}	
	</script>

</html>
