<html>
    <head>
        <title>Editor Dashboard</title>
    </head>
    <body style="background-color:cornsilk;">
	<h3 style="color:black;text-align:center;font-family=verdana;">
	    Please select one of the following options:
	</h3>
	    <form action="/form-handler" method="POST">
            <div>

			<!-- User input search string -->
			<br><br>
			<!-- Search <br> -->
			
			<input type ="radio-button" name="Search" placeholder="Search"/>
			<input type ="radio-button" name "Add" placeholder="Add"/>
			<input type="submit" value="Submit">
		</form>
	</body>
</html>
