<!DOCTYPE html>

<html>
	<head>
		<link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/style.css') }}"/>
	</head>

    <body>
		<h1>
			The Trentoniana Room
		</h1>
    </body>

	<div class="topnav">
		<a href="/" class="active">Home</a>
		<a href="/about">About Us</a>
		<a href="/search">Search</a>
		<a href="/login">Login</a>
		<a href="/map">Map</a>
		<a href="https://trentonlib.org/trentoniana/">Trentoniana Homepage</a>
		<a href="https://trentonlib.org/trentoniana/photographs/">Photographs</a>
		<a href="https://trentonlib.org/trentoniana/audio-visual/">Audio & Visual</a>
	</div>
	
	<img src="Trentoniana.png" alt="Trentoniana Logo">
	
	<h3>About Trentoniana</h3>
	<p>
	The Trenton Free Public Library is home to Trentoniana, a local history and genealogy collection containing books, photographs, films, oral histories, scrapbooks, business records, personal papers, maps, newspapers, and ephemera that help researchers explore the rich history of the City of Trenton, New Jersey.
</p><p>
A portion of the collection consists of local newspapers (most on microfilm – see the Microfilm page for a list of titles) printed in Trenton from 1778 to the present. Several indexes to parts of the collection are available, with more finding aids being created and made available (see the Finding Aids to Collections page). We have also been reformatting and transcribing the oral histories in the collection, with many more to come.
</p><p>
College students work with the collection every semester and come up with great projects that can be found on the Student Projects page.
</p><p>
Internships are available throughout the year. More information is available here. Periodically, part-time Trentoniana Library Page positions are available. Check the Library’s Job Opportunities page for more information.
</p><p>
Besides all our social media outlets (links in the left-hand column), we also have a WordPress blog that we will be adding to regularly to keep you updated on our various projects. Be sure to subscribe to get the latest posts!
	</p>
	
	<h3>Mission Statement</h3>
	<p>
	The Trentoniana Department of the Trenton Free Public Library educates, enriches, and empowers the citizens of the City through the procurement, preservation and presentation of historical and cultural material significant to local history and the lives of its residents, both past and present, and yet to come.
</p><p>
As a special collection of the Library, Trentoniana furthers the Library’s educational and informational missions by making these resources available for research, inspiration, and enjoyment. The Trentoniana Department promotes the study and appreciation of regional and national history through educational programming, publications, special exhibits, and research services.
</p><p>
Through the pursuit of these objectives, the Library enriches the quality of life in Trenton by preserving and passing on knowledge of the City’s rich cultural diversity and heritage.
	</p>
	
	<h3>Collecting Policy</h3>
	<p>
	The Trentoniana Department collects printed and non-printed material of all time periods (including present-day) relating to the City of Trenton, its residents, and to an extent the surrounding areas. This material includes paper and non-paper formats such as video, audio, and digital, as well as some art and artifacts. All subjects relating to Trenton are considered within its realm of collecting – it may be about or manufactured in the City, or be about or created by someone who lives or lived here. The Department also collects material on subjects that have relevance to Trenton history such as the American Revolution or the history of industry in New Jersey.
</p><p>
“The great task of libraries, worldwide, is the preservation of the ordinary” – from “Slow Fires,” a film on preservation.
	</p>
	
	<h3>Rules of Use</h3>
	<p>
	Material that is part of the Trentoniana Collection is for in-room use only and may not be checked out. Photocopying and scanning of manuscripts and photographs is at the discretion of the Archivist, and on a case-by-case basis. Copying the contents of entire collections or publications is not permitted due to copyright laws. No food or drink is allowed in the research room, and only pencils may be used. A coat rack and lockers are available for jackets and bags.
</p><p>
For those unable to come to Trenton, a form is available here for short research inquiries. For more in-depth inquiries, a research service through the Library Friends is available for an hourly fee.
	</p>
	
	<h3>Hours</h3>
	<p>
	PLEASE NOTE that currently the Trentoniana Department is open by advance appointment only. No walk-ins will be allowed due to state mandates during the pandemic. Appointments will be for 2 hours per day, with a maximum of 4 persons doing research in the room at one time. All research requests must be made in advance and all material will be brought out by staff. Face coverings are required at all times. Thank you for your cooperation during this time.
<p></p>
For more information on the Trentoniana Collection, contact the Archivist at 609-392-7188 ext. 20 or email trentoniana@trentonlib.org.
	</p>
<p>Trentoniana Room logo designed by Michael Chen from The College of New Jersey’s Interactive Multimedia Design Perspectives course, Fall 2016</p>
	<button onclick="goBack()">Back</button>
	<script>
		function goBack() {
			window.history.back();
		}	
	</script>

</html>
