<!DOCTYPE html>

<html>
	<head>
		<link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/style.css') }}"/>
	</head>

    <body>
		<h1>
			The Trentoniana Room
		</h1>
    </body>

	<div class="topnav">
		<a href="/" class="active">Home</a>
		<a href="/about">About Us</a>
		<a href="/search">Search</a>
		<a href="/login">Login</a>
	</div>

	<h1> About Trentoniana</h1>
	<p style = "text-align:left;">
	The Trenton Free Public Library is home to Trentoniana, a local history and genealogy 
	collection containing books, photographs, films, oral histories, scrapbooks, business 
	records, personal papers, maps, newspapers, and ephemera that help researchers explore
	the rich history of the City of Trenton, New Jersey. <br><br>

	The Trentoniana Department of the Trenton Free Public Library educates, enriches, and 
	empowers the citizens of the City through the procurement, preservation and 
	presentation of historical and cultural material significant to local history and the 
	lives of its residents, both past and present, and yet to come. <br><br>
	

	As a special collection of the Library, Trentoniana furthers the Library’s educational 
	and informational missions by making these resources available for research, inspiration, 
	and enjoyment. The Trentoniana Department promotes the study and appreciation of regional 
	and national history through educational programming, publications, special exhibits, and 
	research services. Through the pursuit of these objectives, the Library enriches the quality 
	of life in Trenton by preserving and passing on knowledge of the City’s rich cultural diversity 
	and heritage.
	</p>
	<br>
	<h1>Collecting Policy</h1>
	<p style = "text-align:left;">
		The Trentoniana Department collects printed and non-printed material of all time periods 
		(including present-day) relating to the City of Trenton, its residents, and to an extent 
		the surrounding areas. This material includes paper and non-paper formats such as video, 
		audio, and digital, as well as some art and artifacts. All subjects relating to Trenton 
		are considered within its realm of collecting – it may be about or manufactured in the 
		City, or be about or created by someone who lives or lived here. The Department also 
		collects material on subjects that have relevance to Trenton history such as the American 
		Revolution or the history of industry in New Jersey.</p>
		<br><br>


	<button onclick="goBack()">Back</button>
	<script>
		function goBack() {
			window.history.back();
		}	
	</script>

</html>
