<!DOCTYPE html>

<html>
	<head>
		<link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/style.css') }}"/>
	</head>

    <body>
		<h1>
			The Trentoniana Room
		</h1>
    </body>

	<div class="topnav">
		<a href="/" class="active">Home</a>
		<a href="/about">About Us</a>
		<a href="/search">Search</a>
		<a href="/login">Login</a>
		<a href="/map">Map</a>
		<a href="https://trentonlib.org/trentoniana/">Trentoniana Homepage</a>
	</div>

	<button onclick="goBack()">Back</button>
	<script>
		function goBack() {
			window.history.back();
		}	
	</script>

</html>
