<!DOCTYPE html>

<html>
	<head>
		<link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/style.css') }}"/>
	</head>

    <body>
		<h1>
			The Trentoniana Room
		</h1>
    </body>

	<div class="topnav">
		<a href="/">Home</a>
		<a href="/about">About Us</a>
		<a href="/search">Search</a>
		<a href="/login" class="active">Login</a>
		<a href="/map">Map</a>
	</div>

	<h1>
		Login
	</h1>

    <h3>
        <form action="/editor-view" method="POST">
            <div>
    
            <!-- User input search string -->
            <br><br>
            <!-- Search <br> -->
            <label>Username</label>
            <input type ="text" name="username" placeholder="username"/> <br><br><br>
            <label>Password</label>
            <input type ="text" name="password" placeholder="password"/> <br>
            <br>
			<input type="submit" name="submit_login" value="Submit">
        </form>
        <br>
		<br>
		<br>
		<br>
        If you don't have a login, continue to browse as a guest.
    </h3>

	<button onclick="goBack()">Back</button>
	<script>
		function goBack() {
			window.history.back();
		}	
	</script>

</html>
