<!DOCTYPE html>

<html>
	<head>
		<link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/style.css') }}"/>
	</head>

    <body>
		<h1>
			The Trentoniana Room
		</h1>
    </body>

	<div class="topnav">
		<a href="/">Home</a>
		<a href="/about">About Us</a>
		<a href="/search">Search</a>
		<a href="/login">Login</a>
		<a href="/map"  class="active">Map</a>
		<a href="https://trentonlib.org/trentoniana/">Trentoniana Homepage</a>
	</div>
	
	<img src= "https://tile.loc.gov/image-services/iiif/service:gmd:gmd381m:g3814m:g3814tm:g3814tm_g05639194903:05639_03_1949-0000/full/pct:12.5/0/default.jpg" alt= "Map of Trenton, Mercer County (1927-1949) Credit: Sanborn Map Company"">
	<h4>Map of Trenton, Mercer County (1927-1949) Credit: Sanborn Map Company</h4>
	
	<a href="https://www.loc.gov/collections/sanborn-maps/?dates=1900/1999&fa=location:new+jersey%7Clocation:trenton"> Link to Map Collection: </a><br><br>

	<button onclick="goBack()">Back</button>
	<script>
		function goBack() {
			window.history.back();
		}	
	</script>

</html>
