<!-- /templates/my-form.html-->

<html>
    <head>
        <title>Trentoniana: Search by Entry Name</title>
    </head>
    <body>
	<h3>Search for records in the Trentoniana database by file name.</h3>
        <form action="/form-handler" method="POST">
            <div>
		Enter the file name you are searching for.
		<input type="text" name="query">
            </div>
            <input type="submit" value="Submit">
        </form>
    </body>

    <!-- minimal styling -->
    <style>
        form {
            margin: 1%;
        }

        div {
            margin: 1% 0;
        }
    </style>
</html>
